@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

:root {
    --primary-color: #243010;
    --secondary-color: #f7b32b;
    --tertiary-color: #2a3c24;
    --quaternary-color: #55aa00;
    --quinary-color: #ffffff;
}

body {
    font-family: 'Dosis', sans-serif;
    color: var(--quinary-color, white);
    background-color: var(--quaternary-color, gray);
    margin-top: 40%;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-family: 'Rubik Puddles', cursive;
}

p {
    text-align: center;
    font-size: 1em;
}

.btn-primary {
    background-color: var(--primary-color, pink);
    border: none; /* Remove border */
    text-align: center;
    font-size: 1em;
    margin: 10px 2px;
    width: 100%;
}

.accordion-button:not(.collapsed) {
  color: var(--tertiary-color, black);
  background-color: var(--secondary-color, yellow);
}

footer {
    font-size: 0.5em;
    margin: 10px;
}
  
img {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 50%;
}

.image-container {
    position: relative;
  }
  
  .image-container img {
    border-radius: 50%; /* make the image round */
    opacity: 0.4;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centering the text */
    color: var(--quinary-color, white);
  }
  