@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

body {
    background: linear-gradient(pink, white);
    font-family: 'Dosis', sans-serif;
    color: navy;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;

}

h1 {
    text-align: center;
    font-size: 2em;
    font-family: 'Rubik Puddles', cursive;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

h3, p {
    text-align: left;
    font-size: 1em;
}

.benefit {
    text-align: center;
}

ul {
    list-style-type: none;
  }
  
span {
    font-weight: bold;
    font-size: 1.2em;
}

.carousel {
    width:350px;
  }
 
button {
    padding: 10px 20px;
    margin: 8px 0;
    width: 100%;
    font-size: 1em;
  }
  
  
  