@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

body {
    background: linear-gradient(#9EC1A3, white);
    font-family: 'Dosis', sans-serif;
    color: #192A51;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;

}

h1 {
    text-align: center;
    font-size: 2em;
    font-family: 'Rubik Puddles', cursive;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

h3, p {
    text-align: left;
    font-size: 1em;
}

.benefit {
    text-align: center;
}

ul {
    list-style-type: none;
  }
  
span {
    font-weight: bold;
    font-size: 1.2em;
}

.carousel {
    width:350px;
  }
 
button {
    width: 100%;
    font-size: 1em;
  }

  .btn-orange {
    background-color: #aaa1c8; /* The background color */
    border: none; /* Remove border if any */
    color: #192A51; /* The text color */
    text-align: center; /* Align the text to the center */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display it as inline block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Change cursor on hover */
    transition: all 0.5s; /* Add transition */
    padding: 10px 24px; /* Padding */
    width: 100%;
}

.btn-orange:hover {
    background-color: #AAA1C8; /* Change the background color on hover */
    color: #192A51; /* Keep the text color to be white */
}

  
footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: green;
}
  
img {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 50%;
}

.image-container {
    position: relative;
    display: inline-block; /* or "block", depending on your layout needs */
  }
  
  .image-container img {
    border-radius: 50%;
    opacity: 0.4;
    display: block; /* removes bottom spacing */
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centering the text */
    color: white; /* change this depending on your image */
  }
  